#banner {
  background-image: url("../imgs/sedepaisagem.jpg");
  padding-top: 100px;
  padding-bottom: 200px;
  background-size: cover;
  background-position: center;
  max-height: var(--header-height);
}

/* Adding CSS manually is only necessary in JSFiddle,
   where CSS can't be inserted into the <head> */
.typed-cursor {
  opacity: 0;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 1;
  transition: opacity 0.25s;
  -webkit-animation: 10;
  animation: 10;
}

.type-wrap h1 {
  text-align: center;
  font-size: xx-large;
  color: darkorange;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  font-weight: bolder
}
