#logo-div {
    background-color: white;
    flex-direction: column;
    height: var(--header-height);
}

#logo {
    height: var(--logo-height);
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
}

#brasao {
    flex-shrink: 1;
    max-height: 50%;
    max-width: 50%;
    margin: auto;
}