#home {
    display: grid;
    /* max-height: 70vh; */
    grid-template-columns: 1fr 35%;
    grid-template-rows:
        1fr
        1fr;
    grid-template-areas:
        "destaque dcol"
        "dlin menor";
    overflow: hidden;
}

.texto {
    text-align: justify;
    margin: 1rem;
}

#destaque {
    grid-area: destaque;
}

#dcol {
    grid-area: dcol;
}

#dlin {
    grid-area: dlin;
}

#menor {
    grid-area: menor;
}