#home {
    display: grid;
    /* max-height: 70vh; */
    grid-template-columns: 1fr 35%;
    grid-template-rows:
        1fr
        1fr;
    grid-template-areas:
        "destaque dcol"
        "dlin menor";
    overflow: hidden;
    /* align-items: stretch; */
    justify-items: stretch;
}

.texto {
    text-align: justify;
    margin: 1rem;
}

#destaque {
    grid-area: destaque;
    max-height: 1fr;
    min-height: 1fr;
}

#dcol {
    grid-area: dcol;
    height: 1fr;
    max-height: 1fr;
    min-height: 1fr;
}

#dlin {
    grid-area: dlin;
    max-height: 1fr;
    min-height: 1fr;
}

#menor {
    grid-area: menor;
    max-height: 1fr;
    min-height: 1fr;
}

#home .Cards .Content .texto {
    height: 7rem;
}