:root {
  --bg-dark: rgb(32, 22, 22);
  --bg-light: rgb(241, 241, 119);
  --bg-footer:  lightgreen;

  --logo-height: 100px;
  --header-height: 200px;
  --menu-top-height: 70px;
  --aside-width: 150px;
  --aside-right: 300px;
  --footer-height: 60px;

  --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Layout em Grid */

.app {
  /* overflow-y: scroll; */
  margin: 0;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr var(--aside-right);
  grid-template-rows:
    var(--header-height)
    1fr
    var(--footer-height);
  grid-template-areas:
    "logo banner right"
    "menu content right"
    "footer footer footer";
  background: linear-gradient(135deg, white, black);
}

#logo {
  grid-area: logo;
}

#banner {
  grid-area: banner;
  width: auto;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

aside.menu-area {
  grid-area: menu;
}

.content {
  grid-area: content;
}

#right {
  grid-area: right;
}

#right > .Cards > .Card > .Content {
  max-height: 33vh;
}

footer {
  grid-area: footer;
  background-color: var(--bg-footer);
  overflow: hidden;
}

a:hover { background-color: aqua;}

@media (max-width: 950px) {
  #right {
    display: none;
  }
  .app {
    grid-template-rows:
      var(--header-height)
      1fr;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-areas:
      "logo banner"
      "menu content"
      "menu footer";
  }
}

/* @media (max-width: 576px) {
  #banner > img {
    display: none;
  }
  #right {
    display: none;
  }
  aside.menu-area {
    display: inline;
  }
  .app {
    grid-template-rows:
      var(--logo-height)
      var(--menu-top-height)
      1fr
      var(--footer-height);
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "menu"
      "content"
      "footer";
  }
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }

  .menu {
    height: 100%;
    justify-content: space-around;
  }
} */
